/* GLOBAL */
body {
    background-color: #f8f6f3;
}

nav {
    background-color: white;
}

.left-wrapper {
    padding-right: 2rem;
}

select {
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    color: rgb(101, 101, 101);
    background-color: #f8f6f3;
}

/* FONTS */
.groceries-right h1, .groceries-left h3 {
    font-family: 'Merriweather', serif;
}

.groceries-right p, .groceries-left ul {
    font-family: 'Open Sans',sans-serif;
}

.groceries {
    gap: 2rem;
    display: flex;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: space-between;
    background-color: #f8f6f3;
}

/* LEFT SIDE */
.groceries-left {
    align-self: flex-start;
}

.groceries-left form {
    display: flex;
}

/* SEARCH BAR */
.search-btn {
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    background-color: #6a9739;
}

#search-product {
    border: none;
    outline: none;
    padding: 0.8rem;
    margin-right: 0.3rem;
    font-size: 1rem;
    background-color: white;
    border: 1px solid rgb(207, 206, 206);
}

span {
    color: black;
}

/* RIGHT SIDE */

.groceries-right {
    padding-right: 2rem;
    padding-left: 3.5rem;
    align-self: flex-start;
    border-left: 1px solid rgb(207, 206, 206);
}

.groceries-right h1 {
    color: #8bc34a;
    font-size: 3.5rem;
}

.groceries-right p:first-child {
    font-size: 0.9rem;
    padding-bottom: 1rem;
}


.category-results-section {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
}

#category-info {
    padding-top: 3rem;
    line-height: 1.7rem;
}

.category-results-section p {
    font-size: 1rem;
}

.groceries-left h3 {
    font-size: 1.3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.groceries-left ul {
    list-style: none;
    color: #8bc34a;
    padding-top: 2rem;
    line-height: 2rem;
    padding-bottom: 3rem;
}

/* GROCERRIES GRID */
.category-grid-container {
    gap: 1rem;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 16.5rem);
}

.gg-b {
    height: 21rem;
    padding-bottom: 5rem;
    /* border: 1px soid black; */
}

.gg-b  h4 {
    /* margin: 5px 0; */
    padding-top: 0.6rem;
    padding-bottom: 0.3rem;
    font-size: 0.95rem;
    font-family: 'Merriweather', serif;
}

.fa-star {
    padding: 0 0;
    margin: 0 -2.5px;
    font-size: 0.85rem;
}

.gg-b  p {
    padding-top: 0.3rem;
    font-size: 0.95rem;
    font-family: 'Open Sans',sans-serif;
}

figure img {
    width: 260px;
    border-radius: 2px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

figcaption {
    color: #A8AFB4;
    font-size: small;
    font-family: 'Open Sans',sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

/* RECOMMENDED GRID */
.recommended-container {
    display: grid;
    grid-template-columns: 15rem;
}

.recm-b {
    height: 7.5rem;
    padding-bottom: 12rem;
    border: 1px soid black;
}

.recm-b h4 {
    /* margin: 5px 0; */
    color: #8bc34a;
    font-weight: 500;
    font-size: 0.95rem;
    padding-top: 0.6rem;
    font-family: 'Open Sans',sans-serif;
}

.fa-star {
    padding: 0 0;
    margin: 0 -2.5px;
    font-size: 0.85rem;
}

.recm-b p {
    font-weight: 400;
    font-size: 0.95rem;
    padding-top: 0.3rem;
    font-family: 'Open Sans',sans-serif;
}

.recm-b > a > figure img {
    width: 230px;
    border-radius: 2px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.recm-b > figure img {
    width: 230px;
    border-radius: 2px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

/* PAGE NAV */
.page-nav {
    gap: 0.5rem;
    display: flex;
    padding-bottom: 4rem;
}

.page-box {
    color: #8bc34a;
    align-items: center;
    padding: 0.6rem 1rem;
    justify-content: center;
    border: 1px solid #8bc34a;
    font-family: 'Open Sans',sans-serif;
}

.box-1 {
    color: white;
    background-color: #8bc34a;
}

.box-3 {
    font-size: 0.9rem;
}