button {
    background-color: #6A9739;
    border-radius: 5px;
    padding: 16px 42px;
    display: flex;
    gap: 10px;
    border: none;
    color: white;
    font-size: small;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: green;
    transition: background-color 0.2s ease-in-out;
}

/* NAV BAR */



/* MAIN SECTION */
section:nth-child(1) {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(40deg, #ffffff, #FAF9F6);
    font-family: 'Merriweather', serif;
}

/* FOOTER SECTION */
footer{
    background-color: #001524;
}

.foo-content {
    width: 35%;
    display: grid;
    gap: 10rem;
    margin: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 28rem 9.2rem 20rem;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 84px;
    color: #A8AFB4;
    line-height: 1.6em;
    font-family: 'Open Sans',sans-serif;
}

.foo-item2 ul li {
    color: #A8AFB4;
    transition: color 0.3s ease-in-out;
}

.foo-item2 ul li:hover {
    color: white;
    transition: color 0.3s ease-in-out;
}

.foo-item3 ul li:hover {
    color: #709835;
    transition: color 0.3s ease-in-out;
}

.foo-item3 ul li {
    color: #88B840;
    transition: color 0.3s ease-in-out;
}

.foo h2 {
    margin: 30px 0px;
    color: #FFFFFF;
    font-family: 'Merriweather', serif;

}

.foo img {
    margin-bottom: 40px;
}

.foo ul {
    list-style-type: none;
    cursor: pointer;
}

.foo img {
    width: 182px;
}

.fa-solid {
    color: grey;
}

.foo-item2 h2:first-child {
    margin-bottom: 50px;
}

.foo-item4 {
    color: rgb(173, 173, 173);
    align-items: center;
    font-size: 1em;
    display: flex;
    gap: 400px;
    padding: 29px;
    justify-content: space-around;
    border-top: 1px solid rgba(128, 128, 128, 0.247);
}

.foo-item4:last-child ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.store-icons {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

/* HEADER */
.header-content {
    gap: 80px;
    display: flex;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
}

.header-text {
    width: 33rem;
}

.header-text ul {
    list-style: none;
    gap: 1.5em;
    display: flex;
    flex-direction: column;
}

.header-text ul li h1 {
    font-size: 3em;
}

.header-text ul li p {
    font-family: 'Open Sans',sans-serif;
}

.header-text ul li button {
    margin-top: 20px;
}

.header-text li .fa-solid {
    color: white;
}

/* Features */
.features {
    gap: 20px;
    height: 100px;
    display: grid;
    color: white;
    padding-top: 3em;
    padding-bottom: 5em;
    text-align: center;
    justify-content: center;
    background-color: black;
    grid-template-columns: repeat(4, 280px);
}

.fa-xl {
    color: rgb(78, 193, 78);
}

.f-item {
    padding: 2em;
    border-radius: 4px;
    background-color: rgb(73, 73, 73);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.f-item h3 {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    font-family: 'Merriweather', serif;
}

.f-item p {
    font-family: 'Open Sans',sans-serif;
}

.foo-item4 div p {
    font-family: 'Open Sans',sans-serif;
}

/* PRODUCTS */
.best-selling {
    width: 100%;
    display: flex;
    padding: 10rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.best-selling h3 {
    font-size: 2.8rem;
    font-family: 'Merriweather', serif;
}

.best-selling img {
    margin: 20px 0;
}

.products-container {
    display: grid;
    gap: 20px;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
}

.p-items h4 {
    margin: 5px 0;
    font-family: 'Merriweather', serif;
}

.p-items p {
    font-family: 'Open Sans',sans-serif;
}

figure img {
    width: 280px;
}

figcaption {
    color: #A8AFB4;
    font-size: small;
}

/* Leaf */
.leaf {
    background-color: #F8F6F3;
}

.leaf img {
    width: 10rem;
    position: relative;
    top: -2rem;
}

/* DISCOUNT */
.discount {
    display: flex;
    color: white;
    padding: 3.5rem;
    align-items: center;
    background-color: black;
    justify-content: space-around;
}

.discount h1 {
    font-size: 2rem;
}

.discount button {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.discount .fa-cart-shopping {
    color: white;
}

.pointy-tip-bottom {
    top: 4.5rem;
    right: 40%;
    width: 2rem;
    height: 3rem;
    rotate: 135deg;
    position: relative;
    background-color: black;
}

.text-under-pointy {
    padding: 2rem;
    background-color: #F8F6F3;
    font-family: 'Merriweather', serif;
}

/* TRENDING PRODUCTS */
.trending-products {
    padding: 10rem 0;
}

.customer-reviews {
    padding-bottom: 5rem;
}

.trending-products, .customer-reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trending-products h3, .customer-reviews h3 {
    font-size: 2.2rem;
    font-family: 'Merriweather', serif;
}

.trending-products img, .customer-reviews img {
    margin: 20px 0;
}

.two-sections-together {
    background-image: linear-gradient(90deg, #ffffff, #FAF9F6);
}

.discount-txt {
    font-family: 'Merriweather', serif;
}

/* BACKGROUND IMAGES */
.elementor-background-overlay {
    background-image: url("https://websitedemos.net/organic-shop-02/wp-content/uploads/sites/465/2019/06/leaves-free-img.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 28% auto;
    opacity: .25;
    mix-blend-mode: multiply;
    transition: background .3s,border-radius .3s,opacity .3s;
}


.card-1 {
    background-image: url("https://websitedemos.net/organic-shop-02/wp-content/uploads/sites/465/2019/06/product11-free-img.jpg");
}

.card-2 {
    background-image: url("https://websitedemos.net/organic-shop-02/wp-content/uploads/sites/465/2019/06/product13-free-img.jpg");
}

.card-3 {
    background-image: url("https://websitedemos.net/organic-shop-02/wp-content/uploads/sites/465/2019/06/product17-free-img.jpg");
}

a {
    text-decoration: none;
}